* {
  box-sizing: border-box;
}

html, body {
  font-family: sans-serif;
  background-color: lightgray;
  height: 100%;
  margin: -1px;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}


label{
  box-sizing: border-box;
  display: block;
  padding: 10px 20px;
  color: #fff;
}

textarea {
  padding: 10px 20px;
  box-sizing: border-box;
  background: #eee;
  border: 0;
  display: block;
  width: 100%;
  background: #fff;
  border: 1px solid #ddd;
  box-shadow: 1px 3px 5px rgba(0,0,0,0.05);
  font-family: Nunito;
  font-size: 16px;
}

input{
  padding: 10px 20px;
  box-sizing: border-box;
  background: #eee;
  border: 0;
  display: block;
  width: 100%;
  background: #fff;
  border: 1px solid #ddd;
  box-shadow: 1px 3px 5px rgba(0,0,0,0.05);
  font-family: Nunito;
  font-size: 16px;
}

button{
  background: #575ed8;
  color: #fff;
  font-size: 18px;
  border: 0;
  margin: 2em 0px;
  padding: 12px 0;
  width: 100%;
  border-radius: 0 0 2px 2px;
}

form {
  widows: 80%;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
}

.form-ptag {
  background:rgba(0,0,0,0.5);
  text-align: center;
  max-width: 100%;
  border-radius: 10px; 
  margin-left: auto;
  margin-right: auto;

}

.links {
  display: block;
  background:rgba(0,0,0,0.5);
  border-radius: 10px; 
  padding:50px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  color: #fff;
  top: 20px;
}



/* Grid measurements:
 *
 *   960px wide including 12 gutters (half gutters on both edges)
 *
 *   60px columns (12)
 *   20px gutters (two half-gutters + 11 full gutters, so 12 total)
 *
 *
 *   For smaller screens, we always want 20px of padding on either side,
 *   so 960 + 20 + 20 => 1000px
 *
 **/
.row {
  max-width: 1000px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0px auto;
}

/* Clearfix */
.row::before,
.row::after {
  display: table;
  content: '';
}

.row::after {
  clear: both;
}

.col-3,
.col-4,
.col-6,
.col-12 {
  float: left;

  /* Gutters:
   * Each column is padded by half-a-gutter on each side,
   *
   * Half a gutter is 10px, 10/960 (context) = 1.041666%
   *
   */
  padding-left: 1.04166666%;
  padding-right: 1.04166666%;
}

/* Mobile defaults */
.col-3,
.col-4,
.col-6,
.col-12 {
  width: 100%;
}

/* Non-mobile, grid */
@media only screen and (min-width: 640px) {
  html, body {
    font-size: calc(1em + 1vw);
    background-image:url('/images/ben-kolde-430909-unsplash.jpg') ;
    background-repeat: no-repeat;
    background-size: cover;
  }
  /* 3 columns, 3/12 in % */
  .col-3 {
    width: 25%;
  }

  /* 4 columns, 4/12 in % */
  .col-4 {
    width: 33.333333%;
  }

  /* 6 columns, 6/12 in % */
  .col-6 {
    width: 50%;
  }

  /* 12 columns, 12/12 in % */
  .col-12 {
    width: 100%;
  }

  .form-ptag {
    max-width: 50%;
  }

  .links {
    max-width: 50%;
  }
}
