h2,p{
  font-size:100%;
  font-weight:normal;
}
.image-style {
  width: 100%;
  display: block;
  margin: 0px auto;
}

.title {
  font-size: 1em;
  margin: 0%;
}
.p-tag {
  margin-bottom: 10px;
  width: 100%;
  /* padding-right: 17px; Increase/decrease this value for cross-browser compatibility */
  /* box-sizing: content-box; So the width will be 100% + 17px */
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
 
.delete-btn {
  background-color: rgb(27, 27, 27);
  border-radius: 0px;
  border: 0px;
  padding-left: 5px;
  padding-right: 5px;
  width: auto;
  font-size: 0.5em;
}
.card-style {
  text-align: center;
  word-wrap: break-word;
  margin-bottom: 20px;
  width: 100%;
  background-color: #ffdd26;
  overflow: hidden;
  overflow-y: scroll;
  /* Firefox */
  -moz-box-shadow:5px 5px 7px rgba(33,33,33,1);
  /* Safari+Chrome */
  -webkit-box-shadow: 5px 5px 7px rgba(33,33,33,.7);
  /* Opera */
  box-shadow: 5px 5px 7px rgba(33,33,33,.7);
}

@media screen and (min-width: 640px) {
  .card-style {
    height: 200px;
  }
  .title {
    font-size: 2rem;
  }
  .p-tag {
    overflow: scroll;
    font-size: 1rem;
    margin: 0px;
  }
}
