.no-class {
  top: 0;
  width: 100%;
  height: 74px;
  background-color: #163a5f;
  position: -webkit-sticky; /* Safari */
  position: sticky;
}

.login-status {
  display: normal;
}

ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #163a5f;
}

ul.topnav li {
  float: right;
}

ul.topnav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 30px 16px;
  text-decoration: none;
}

ul.topnav li a:hover:not(.active) {
  background-color: #45eba5;
  color: #707070;
}

ul.topnav li a.active {
  background-color: #4caf50;
}

ul.topnav li.right {
  float: right;
}

.hamburger {
  display: none;
}

@media screen and (max-width: 600px) {
  .mobile-nav-space {
    margin: 100px 0px;
  }
  ul.topnav li.right,
  ul.topnav li {
    float: none;
  }
  .hamburger {
    background-image: url('/images/green-ham.png');
    background-size: 50px 50px;
    background-repeat: no-repeat;
    position: absolute;
    color: black;
    margin: 10px;
    display: block;
    width: 50px;
    height: 50px;
    top: 5px;
    right: 5px;
  }
  .topnav {
    display: none;
  }
  .hamburger:hover + .topnav,
  .topnav:hover {
    display: block;
    margin-top: -100px;
  }
}
